{% extends "template.html" %}

{# custom css #}
{% block css %}
    <link rel="stylesheet" href="{{-script_root-}}/static/css/styles/default.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/jquery.json-viewer.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/sidebar.css">
{% endblock %}

{% block nav_sources %}
    active
{% endblock %}

{% block body_top %}
{#    <div class="container mt-2">#}
{#        YO#}
{#    </div>#}
{% endblock %}

{% block body %}

    <div class="container-fluid mt-2">

        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ml-2">

                <!-- Log lists -->
                {% for log_group in log_names.keys() %}
                    {% set log_group_id = log_group | replace(' ', '-') | lower %}
                    <li class="sidebar-brand m-0 mt-2 p-0">
                        <a data-toggle="collapse" href="#{{ log_group_id }}"
                           aria-expanded="true" aria-controls="{{ log_group_id }}"
                           id="{{ log_group_id }}-dropdown"
                           style="margin-top: -0.1rem;">
                            {{ log_group }}
                            <i class="fa fa-lg fa-angle-up float-right"></i>
                        </a>
                    </li>
                    <div class="collapse multi-collapse show" id="{{ log_group_id }}">
                        {% for lfn in log_names[log_group]['files'] %}
                        <li id="{{ log_group_id }}-{{ lfn }}-menu-item">
                            <!-- Dynamic logs go with checkboxes to toggle display card -->
                            {% if log_names[log_group]['type'] == 'dynamic' %}
                                <a href="#">
                                    <div class="form-check m-0 p-0">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   onclick="toggle('{{ log_group_id }}-{{ lfn }}', this)"
                                                   id="{{ log_group_id }}-{{ lfn }}-checkbox">
                                            {{ lfn }}
                                        </label>
                                    </div>
                                </a>
                            {% endif %}
                            <!-- Static logs are open in new tab -->
                            {% if log_names[log_group]['type'] == 'static' %}
                                <a href="/{{ log_group_id }}/{{ lfn }}" class="pl-2" target="_blank">
                                    {{ lfn }}
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </div>
                {% endfor %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% for log_group in log_names.keys() %}
                    {% set log_group_id = log_group | replace(' ', '-') | lower %}
                    <div id="{{ log_group_id }}-body">
                        {% if log_names[log_group]['type'] == 'dynamic' %}
                            <h4><a href="#menu-toggle" id="menu-toggle">
                                <i class="fa fa-bars p-1 py-2" aria-hidden="true"></i></a>
                                {{ log_group }}
                            </h4>

                            <!-- Iterate over log files -->
                            {% for lfn in log_names[log_group]['files'] %}
                                <div class="row mb-2" id="{{ log_group_id }}-{{ lfn }}-container" style="display: none;">
                                    <div class="col">
                                        <div class="card border border-info"
                                             id="{{ log_group_id }}-{{ lfn }}-card">
                                            <div class="card-header p-0 pl-2 bg-info" id="">
                                                <span style="font-weight: 400; font-size: 0.9rem;">{{ lfn }}</span>
                                                <a class="float-right pr-2 pb-0 mb-0" data-toggle="collapse" href="#"
                                                   aria-expanded="false" aria-controls="collapseExample"
                                                   id="{{ log_group_id }}-{{ lfn }}-dropdown"
                                                   onClick="showHidePanel('{{ log_group_id }}-{{ lfn }}')"
                                                   style="margin-top: -0.1rem;">
                                                    <i class="fa fa-lg fa-angle-up" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="card-body text-truncate p-0 pl-2 pr-2 resizable"
                                                 id="{{ log_group_id }}-{{ lfn }}-panel"
                                                 style="max-height: 500px; height: 100px; display: inline-block;
                                                 overflow: auto; resize: vertical;">
                                                <pre><code id="{{ log_group_id }}-{{ lfn }}-code" class="empty"></code></pre>
                                            </div>
                                            <!-- TODO: put filter here (text input)? -->
                                            <!--<div class="card-footer p-0 pl-2 text-muted"-->
                                            <!--id="{{ log_group_id }}-{{ lfn }}-loading">-->
                                            <!--Loading...&nbsp;<i class="fa fa-gear fa-spin" style="font-size: 1rem;"></i>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

        <div id="accordion" role="tablist" class="mt-2">
            <div class="card">
                <div class="card-header" role="tab" id="heading">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#tab" aria-expanded="true" aria-controls="tab">
                            Load data
                        </a>
                    </h5>
                </div>
                <div id="tab" class="collapse show" role="tabpanel" aria-labelledby="heading">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <form id="form" class="form mb-2" method="get">

                                    <div class="form-group row">

                                        <label for="zvm_program_id" class="col-md-3 control-label">
                                            zvm_program_id
                                        </label>

                                        <div class="col-md-5">
                                            <select class="form-control form-control-sm" id="zvm_program_id"
                                                    name="zvm_program_id">
                                                {% for program in programs %}
                                                <option>{{program}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        <label for="number" class="col-md-3 control-label">
                                            Number
                                        </label>

                                        <div class="col-md-5">
                                            <select class="form-control form-control-sm" id="number"
                                                    name="number">
                                                <option>10</option>
                                                <option>100</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="random" name="random">
                                                    Random
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-dark btn-sm" id="form-submit">Submit</button>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for source in data %}
        <div class="row mt-2">
            <div class="col">
                <a href="/sources/{{-source['_id']-}}" target="_blank">{{ source['_id'] }}</a><br>
                <img src="/sources/{{-source['_id']-}}/cutout/ps1">
                <img src="/sources/{{-source['_id']-}}/hr" width="300">
                <pre class="json-renderer" id="{{-source['_id']-}}-json-renderer" class="pl-4 pr-4"></pre>
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-query-id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-query-id"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <pre><code id="modal-body-code" style="font-size:0.75em;"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <!-- Big int support for js -->
    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <!-- Julian dates -->
    <script src="{{-script_root-}}/static/js/julianDate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Highlight code-->
    <script src="{{-script_root-}}/static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{{-script_root-}}/static/js/jquery.json-viewer.js"></script>

    <script>
        // display JSON
        {% for source in data %}
        {% set ss = {'l': source['l'] | round(3, 'common'),
                     'b': source['b'] | round(3, 'common'),
                     'ra': source['ra'] | round(3, 'common'),
                     'dec': source['dec'] | round(3, 'common'),
                     'xmatch': source['xmatch']} %}
        let data_alert_{{-source["_id"]-}} = JSONbig.parse('{{-ss|tojson_pretty|safe|replace('\n', '')|replace('NaN', 'null')-}}');
        $('#{{-source["_id"]-}}-json-renderer').jsonViewer(data_alert_{{-source["_id"]-}}, {collapsed: true, withQuotes: true});
        // open
        $('#{{-source["_id"]-}}-json-renderer').find(">:first-child").trigger("click");
        {% endfor %}
    </script>

    <script>

        // submit query
        $(document).ready(function() {
            $('#form-submit').click(function () {
                bootbox.confirm({
                    message: "Do you want to load the data?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            $('#form').submit();
                            {#console.log($('#form'));#}
                        }
                    }
                });
            });
        });

        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
        {% if messages | length > 0 %}
            $(document).ready(function() {
                {% for message in messages %}
                    showFlashingMessage('Info:', '{{ message[0] }}', '{{ message[1] }}');
                {% endfor %}
            });
        {% endif %}
    </script>

{% endblock %}