{% extends "template.html" %}

{# custom css #}
{% block css %}
    <link rel="stylesheet" href="{{-script_root-}}/static/css/styles/default.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/jquery.json-viewer.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/sidebar.css">
{% endblock %}

{% block nav_sources %}
    active
{% endblock %}

{% block body_top %}
{#    <div class="container mt-2">#}
{#        YO#}
{#    </div>#}
{% endblock %}

{% block body %}

    <div class="container-fluid mt-2">

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav ml-2 mb-5 pb-5">

                    <!-- Load -->
                    <li class="sidebar-brand m-0 mt-3 p-0">
                        <a data-toggle="collapse" href="#load_data_form"
                           aria-expanded="true" aria-controls="load_data_form"
                           id="load_data_form-dropdown"
                           style="margin-top: -0.1rem;">
                            Load data
                            <i class="fa fa-lg fa-angle-up float-right"></i>
                        </a>
                    </li>

                    <div class="collapse multi-collapse show sidebar-collapse" id="load_data_form">
    {#                        <li id="-menu-item">#}
    {#                        </li>#}
                        <form id="form" class="form mb-2" method="get">

                            <div class="form-group">

                                <label for="zvm_program_id" class="col control-label">
                                    zvm_program_id
                                </label>

                                <div class="col pr-4">
                                    <select class="form-control form-control-sm" id="zvm_program_id"
                                            name="zvm_program_id">
                                        {% for program in programs %}
                                        <option>{{program}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="filter" class="col control-label">
                                    Filter
                                </label>

                                <div class="col pr-4">
                                    <textarea class="form-control form-control-sm" id="filter"
                                              name="filter" placeholder="Filter in MQL syntax" rows="3"></textarea>
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="number" class="col control-label">
                                    Number of sources to load
                                </label>

                                <div class="col pr-4">
                                    <select class="form-control form-control-sm" id="number"
                                            name="number">
                                        <option>1</option>
                                        <option>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                        <option>1000</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                               id="unlabeled" name="unlabeled" checked>
                                        <label class="custom-control-label" for="unlabeled">Unlabeled</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input"
                                               id="random" name="random" checked>
                                        <label class="custom-control-label" for="random">Random</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm" id="form-submit">Submit</button>
                            </div>

                        </form>
                    </div>

                    <hr class="mr-3 mb-2">

                    <!-- Save -->
                    <li class="sidebar-brand m-0 mt-3 p-0">
                        <a data-toggle="collapse" href="#save_labels"
                           aria-expanded="true" aria-controls="save_labels"
                           id="save_labels-dropdown"
                           style="margin-top: -0.1rem;">
                            Save labels
                            <i class="fa fa-lg fa-angle-up float-right"></i>
                        </a>
                    </li>

                    <div class="collapse multi-collapse show sidebar-collapse" id="save_labels">
    {#                        <li id="-menu-item">#}
    {#                        </li>#}
                        <div class="col mt-2">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="autosave">
                                <label class="custom-control-label" for="autosave">Autosave?</label>
                            </div>
                        </div>
                        <div class="col mt-2">
                            <form id="form_save" class="form mb-2" method="get">
                                <button type="button" class="btn btn-dark btn-sm" id="form_save-submit">Save</button>
                            </form>
                        </div>
                    </div>
                </ul>


            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <h4>
                        <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars p-1 py-2" aria-hidden="true"></i></a>
                        Label data
                    </h4>

                    {% for source in data %}
                    <div class="row mt-2">
                        <div class="col">
                            <a href="/sources/{{-source['_id']-}}" target="_blank">{{ source['_id'] }}</a><br>
                        </div>
                    </div>

                    <div class="row mt-0">
                        <!-- Light curves -->
                        <div class="col-7">
                            <span data-src="/sources/{{-source['_id']-}}/images/lc?w=10&h=3&hist=true"
                                  data-alt="{{-source['_id']-}}_lc"
                                  data-class="w-100 img-fluid"
                                  class="justlazy-spinner load-with-threshold-placeholder">
                            </span>
{#                            <img src="/sources/{{-source['_id']-}}/images/lc?w=10&h=3" class="w-100 img-fluid">#}
                            {% for pu in source['p'] %}
                                {% set p = pu['period'] %}
                                {% set u = pu['period_unit'] %}
                                <span data-src="/sources/{{-source['_id']-}}/images/lc?w=10&h=3&p={{-p-}}&u={{-u-}}&t=true"
                                      data-alt="{{-source['_id']-}}_lc_folded"
                                      data-class="w-100 img-fluid"
                                      class="justlazy-spinner load-with-threshold-placeholder">
                                </span>
{#                                <img src="/sources/{{-source['_id']-}}/images/lc?w=10&h=3&p={{-p-}}&u={{-u-}}&t=true"#}
{#                                     class="w-100 img-fluid">#}
                            {% endfor %}
                        </div>
                        <!-- Cutout and HR diagram -->
                        <div class="col-2">
                            <figure class="figure">
                                <figcaption class="figure-caption ml-2">PS1 [1'x1']:</figcaption>
                                <span data-src="/sources/{{-source['_id']-}}/images/ps1"
                                      data-alt="{{-source['_id']-}}_ps1"
                                      data-class="img-fluid mx-auto d-block mt-0 pl-2"
                                      class="justlazy-spinner load-with-threshold-placeholder">
                                </span>
                            </figure>
                            <figure class="figure">
                                <figcaption class="figure-caption ml-2 mt-0">Gaia HR diagram:</figcaption>
                                <span data-src="/sources/{{-source['_id']-}}/images/hr"
                                  data-alt="{{-source['_id']-}}_hr"
                                  data-class="img-fluid mx-auto d-block pl-2"
                                  class="justlazy-spinner load-with-threshold-placeholder">
                            </span>
                            </figure>

{#                            <span data-src="/sources/{{-source['_id']-}}/images/maghist?w=4&h=3"#}
{#                                  data-alt="{{-source['_id']-}}_maghist"#}
{#                                  data-class="img-fluid mx-auto d-block mt-4 pl-2"#}
{#                                  class="justlazy-spinner load-with-threshold-placeholder">#}
{#                            </span>#}
{#                            <img src="/sources/{{-source['_id']-}}/images/ps1" class="img-fluid mx-auto d-block mt-4 pl-2">#}
{#                            <img src="/sources/{{-source['_id']-}}/images/hr" class="img-fluid mx-auto d-block mt-4">#}
                        </div>
                        <!-- Metadata -->
                        <div class="col-3">
                            <pre class="json-renderer pl-4 pr-4" style="font-size: 0.6em"
                                 id="{{-source['_id']-}}-json-renderer"></pre>
                        </div>
                    </div>

                    <!-- Classifications -->
                    <div class="row mt-0">
                        <div class="col pt-3 pl-3 pr-3 pb-1" style="background: #f7f8f9; font-size: 0.8em">
                            <h6>
                                <a data-toggle="collapse" href="#{{ source['_id'] }}_phenomenological"
                                   aria-expanded="true" aria-controls="{{ source['_id'] }}_phenomenological"
                                   id="{{ source['_id'] }}_phenomenological-dropdown"
                                   style="margin-top: -0.1rem;">
                                    Phenomenological classification
                                    <i class="fa fa-lg fa-angle-up float-right"></i>
                                </a>
                            </h6>

                            <div class="row collapse multi-collapse show sidebar-collapse"
                                 id="{{ source['_id'] }}_phenomenological">

                                {% for class in classes['phenomenological'] %}
                                    {% if class is mapping %}
                                        {% for class2 in class %}
                                            <div class="col mt-2 has-leaves">
                                                <label for="{{ source['_id'] }}_{{ class2 }}"
                                                   {% if class2 in descriptions %}
                                                    data-toggle="tooltip" data-placement="top" title="{{ descriptions[class2] }}"
                                                   {% endif %}
                                                >
                                                    {{ class2 }}
                                                </label>
                                                <input type="range" class="custom-range dad"
                                                       value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class2 }}"
                                                       data-source="{{ source['_id'] }}" data-label="{{ class2 }}"
                                                       data-type="phenomenological">

                                                {% for class3 in class[class2] %}
                                                    <div class="col mt-0">
                                                        <label for="{{ source['_id'] }}_{{ class3 }}"
                                                           {% if class3 in descriptions %}
                                                            data-toggle="tooltip" data-placement="top" title="{{ descriptions[class3] }}"
                                                           {% endif %}
                                                        >
                                                            {{ class3 }}
                                                        </label>
                                                        <input type="range" class="custom-range kid"
                                                               value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class3 }}"
                                                               data-source="{{ source['_id'] }}" data-label="{{ class3 }}"
                                                               data-type="phenomenological">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="col mt-2"> {# style="background:#d6d7d8" #}
                                            <label for="{{ source['_id'] }}_{{ class }}"
                                                   {% if class in descriptions %}
                                                    data-toggle="tooltip" data-placement="top" title="{{ descriptions[class] }}"
                                                   {% endif %}
                                            >
                                                {{ class }}
                                            </label>
                                            <input type="range" class="custom-range"
                                                   value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class }}"
                                                   data-source="{{ source['_id'] }}" data-label="{{ class }}"
                                                   data-type="phenomenological">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <hr>

                            {# pretty ugly becuase not sure how to traverse tree or recurse here in jinja... #}
                            <h6 class="mt-2">
                                <a data-toggle="collapse" href="#{{ source['_id'] }}_intrinsic"
                                   aria-expanded="true" aria-controls="{{ source['_id'] }}_intrinsic"
                                   id="{{ source['_id'] }}_intrinsic-dropdown"
                                   style="margin-top: -0.1rem;">
                                    Intrinsic classification
                                    <i class="fa fa-lg fa-angle-down float-right"></i>
                                </a>
                            </h6>

                            <div class="row collapse multi-collapse sidebar-collapse"
                                 id="{{ source['_id'] }}_intrinsic">

                                {% for class in classes['intrinsic'] %}
                                <div class="col-12 mt-2 root"> {# style="background:#d6d7d8" #}

                                    <label for="{{ source['_id'] }}_{{ class }}"
                                           {% if class in descriptions %}
                                            data-toggle="tooltip" data-placement="top" title="{{ descriptions[class] }}"
                                           {% endif %}
                                    >
                                        {{ class }}
                                    </label>
                                    <input type="range" class="custom-range root-node"
                                           value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class }}"
                                           data-source="{{ source['_id'] }}" data-label="{{ class }}"
                                           data-type="intrinsic">

                                    <div class="row col">
                                    {% for class2 in classes['intrinsic'][class] %}

                                            {% if class2 is mapping %}
                                                {% for class3 in class2 %}
                                                    <div class="col mt-2 has-leaves">
                                                        <label for="{{ source['_id'] }}_{{ class3 }}"
                                                           {% if class3 in descriptions %}
                                                            data-toggle="tooltip" data-placement="top" title="{{ descriptions[class3] }}"
                                                           {% endif %}
                                                        >
                                                            {{ class3 }}
                                                        </label>
                                                        <input type="range" class="custom-range dad kid"
                                                               value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class3 }}"
                                                               data-source="{{ source['_id'] }}" data-label="{{ class3 }}"
                                                               data-type="intrinsic">

                                                        {% for class4 in class2[class3] %}
                                                            <div class="col mt-0">
                                                                <label for="{{ source['_id'] }}_{{ class4 }}"
                                                                   {% if class4 in descriptions %}
                                                                    data-toggle="tooltip" data-placement="top" title="{{ descriptions[class4] }}"
                                                                   {% endif %}
                                                                >
                                                                    {{ class4 }}
                                                                </label>
                                                                <input type="range" class="custom-range kid"
                                                                       value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class4 }}"
                                                                       data-source="{{ source['_id'] }}" data-label="{{ class4 }}"
                                                                       data-type="intrinsic">
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                {% endfor %}
                                            {% else %}
                                                <div class="col mt-2">
                                                    <label for="{{ source['_id'] }}_{{ class2 }}"
                                                       {% if class2 in descriptions %}
                                                        data-toggle="tooltip" data-placement="top" title="{{ descriptions[class2] }}"
                                                       {% endif %}
                                                    >
                                                        {{ class2 }}
                                                    </label>
                                                    <input type="range" class="custom-range kid"
                                                           value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class2 }}"
                                                           data-source="{{ source['_id'] }}" data-label="{{ class2 }}"
                                                           data-type="intrinsic">
                                                </div>
                                            {% endif %}
                                    {% endfor %}
                                    </div>
                                    <hr>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <hr>
                    {% endfor %}

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-query-id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-query-id"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <pre><code id="modal-body-code" style="font-size:0.75em;"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <!-- Big int support for js -->
    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <!-- Julian dates -->
    <script src="{{-script_root-}}/static/js/julianDate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Highlight code-->
    <script src="{{-script_root-}}/static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{{-script_root-}}/static/js/jquery.json-viewer.js"></script>

    <script src="{{-script_root-}}/static/js/justlazy.js" type="text/javascript"></script>

    <script>
        // populate query params into form
        const url_params = new URLSearchParams(window.location.search);
        const zvm_program_id = url_params.get('zvm_program_id');
        const filter = url_params.get('filter');
        const number = url_params.get('number');
        const unlabeled = url_params.get('unlabeled');
        const random = url_params.get('random');

        if (zvm_program_id) {
            $('#zvm_program_id').val(zvm_program_id)
        }
        if (filter) {
            $('#filter').val(filter)
        }
        if (number) {
            $('#number').val(number)
        }
        if (unlabeled) {
            $("#unlabeled").prop("checked", true);
        }
        else {
            $("#unlabeled").prop("checked", false);
        }
        if (random) {
            $("#random").prop("checked", true);
        }
        else {
            $("#random").prop("checked", false);
        }

        $(document).ready(function() {
            // show on load:
            $("#wrapper").toggleClass("toggled");
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });

        // arrow up/down on show/hide
        $(document).ready(function() {
            let block = 'load_data_form';
            $('.sidebar-collapse').on('hide.bs.collapse', function () {
                {#console.log(this.id);#}
                $("[id="+this.id+"-dropdown]").children("i").attr("class", "fa fa-lg fa-angle-down float-right");
            });
            $('.sidebar-collapse').on('show.bs.collapse', function () {
                $("[id="+this.id+"-dropdown]").children("i").attr("class", "fa fa-lg fa-angle-up float-right");
            });
        });

        // lazy load images
        $(document).ready(function() {
            let placeholders = document.querySelectorAll('.load-with-threshold-placeholder');
            for (let i = 0; i < placeholders.length; ++i) {
                Justlazy.registerLazyLoad(placeholders[i], {
                    threshold: 300
                });
            }
        });

        // display JSON
        {% for source in data %}
        {% set ss = {'ra': source['ra'] | round(6, 'common'),
                     'dec': source['dec'] | round(6, 'common'),
                     'l': source['l'] | round(6, 'common'),
                     'b': source['b'] | round(6, 'common'),
                     'xmatch': source['xmatch']} %}
        let data_alert_{{-source["_id"]-}} = JSONbig.parse('{{-ss|tojson_pretty|safe|replace('\n', '')|replace('NaN', 'null')-}}');
        $('#{{-source["_id"]-}}-json-renderer').jsonViewer(data_alert_{{-source["_id"]-}}, {collapsed: true, withQuotes: true});
        // open
        $('#{{-source["_id"]-}}-json-renderer').find(">:first-child").trigger("click");
        $('#{{-source["_id"]-}}-json-renderer .json-toggle :lt(1)').trigger("click");
        {% endfor %}

        // event listeners
        $(".kid").change(function() {
            console.log($(this).val());
            let dad = $(this).closest('.has-leaves').find('.dad');
            dad.val($(this).val());
            // unfortunately, this does not trigger change() event if dad is also kid, so do this manually:
            let root = $(this).closest('.root').find('.root-node');
            root.val($(this).val());
        });

        //populate labels
        $(document).ready(function() {
            {% for source in data %}
                {% for label in source['labels'] %}
                    $("input[data-source='{{source["_id"]}}'][data-label='{{label["label"]}}']").val({{label["value"]}});
                {% endfor %}
            {% endfor %}
        });

        // enable tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>

        // submit load data query
        $(document).ready(function() {
            $('#form-submit').click(function () {
                bootbox.confirm({
                    message: "Do you want to load the data?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            $('#form').submit();
                            {#console.log($('#form'));#}
                        }
                    }
                });
            });
        });

        // save labels
        function get_labels() {
            let labels = {};
            let data = {};

            $('input.custom-range').each(function() {
                {#console.log($(this).val());#}
                {#console.log($(this).data());#}
                data = $(this).data();
                if (!(data['source'] in labels)) {
                    labels[data['source']] = [];
                }
                if ($(this).val() !== '0') {
                    labels[data['source']].push({'value': parseFloat($(this).val()),
                                                 'label': data['label'], 'type': data['type']})
                }
            });

            {#console.log(labels);#}
            return labels;
        }

        function save_labels() {
            let labels = get_labels();
            for (let source in labels) {
                {#console.log(source);#}
                $.ajax({url: '{{-script_root-}}/sources/'+source,
                    method: 'POST',
                    data: JSON.stringify({'action': 'set_labels', 'labels': labels[source]}),
                    processData: false,
                    contentType: 'application/json',
                    success: function(data) {
                        if (data['message'] === 'success') {
                            showFlashingMessage('Info:', 'Successfully set labels for ' + source + ': ' + data['message'], 'success');
                        }
                        else {
                            showFlashingMessage('Info:', 'Failed to set labels for ' + source + ': ' + data['message'], 'danger');
                        }
                    },
                    error: function(data) {
                        showFlashingMessage('Info:', 'Failed to set labels for ' + source + ': ' + data['message'], 'danger');
                    }
                });
            }
        }

        $(document).ready(function() {
            $('#form_save-submit').click(function () {
                bootbox.confirm({
                    message: "Do you want to save the labels?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            save_labels()
                        }
                    }
                });
            });
        });

        // autosave
        $(document).ready(function() {
            setInterval(function () {
                if (document.getElementById("autosave").checked) {
                    save_labels();
                }
            }, 60 * 1000); // 60 * 1000 milli seconds
        });

        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
        {% if messages | length > 0 %}
            $(document).ready(function() {
                {% for message in messages %}
                    showFlashingMessage('Info:', '{{ message[0] }}', '{{ message[1] }}');
                {% endfor %}
            });
        {% endif %}
    </script>

{% endblock %}
