{% extends "template.html" %}

{# custom css #}
{% block css %}
    <style>
        /*
         * Sidebar
         */

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 50px;
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 48px 0 50px; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        @supports ((position: -webkit-sticky) or (position: sticky)) {
            .sidebar-sticky {
                position: -webkit-sticky;
                position: sticky;
            }
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #999;
        }

        .sidebar .nav-link.active {
            color: #007bff;
        }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

        .sidebar-heading {
            {#font-size: .75rem;#}
            {#text-transform: uppercase;#}
        }

        /*
         * Content
         */

        [role="main"] {
            {#padding-top: 48px; /* Space for fixed navbar */#}
            padding-top: 24px; /* Space for fixed navbar */
        }

    </style>
{% endblock %}

{% block nav_sources %}
    active
{% endblock %}

{% block body_top %}
{#    <div class="container-fluid mt-2">#}
{#        {{ source['_id'] }}#}
{#    </div>#}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h4 class="sidebar-heading d-flex justify-content-between
                               align-items-center px-3 mt-4 mb-1">
                        {{ source['_id'] }}
                    </h4>
                    <div class="d-flex justify-content-between
                               align-items-center px-3 mt-4 mb-1 text-muted">
                        RA: {{ source['coordinates']['radec_str'][0] }}<br>
                        Dec: {{ source['coordinates']['radec_str'][1] }}<br><br>
                        TODO: MORE INFO<br><br>
                    </div>

{#                    <ul class="nav flex-column">#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link active" href="#">#}
{#                                Photometry <span class="sr-only">(current)</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#">#}
{#                                Spectroscopy#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#">#}
{#                                Finding Chart#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#">#}
{#                                Visibility#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-photometry-tab" data-toggle="tab"
                           href="#nav-photometry" role="tab" aria-controls="nav-photometry"
                           aria-selected="true">Photometry</a>
                        <a class="nav-item nav-link" id="nav-spectroscopy-tab" data-toggle="tab"
                           href="#nav-spectroscopy" role="tab" aria-controls="nav-spectroscopy"
                           aria-selected="false">Spectroscopy</a>
                        <a class="nav-item nav-link" id="nav-finding-chart-tab" data-toggle="tab"
                           href="#nav-finding-chart" role="tab" aria-controls="nav-finding-chart"
                           aria-selected="false">Finding Chart</a>
                        <a class="nav-item nav-link" id="nav-visibility-tab" data-toggle="tab"
                           href="#nav-visibility" role="tab" aria-controls="nav-visibility"
                           aria-selected="false">Visibility</a>
                        <a class="nav-item nav-link" id="nav-auxiliary-tab" data-toggle="tab"
                           href="#nav-auxiliary" role="tab" aria-controls="nav-auxiliary"
                           aria-selected="false">Auxiliary</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active mt-2" id="nav-photometry"
                         role="tabpanel" aria-labelledby="nav-photometry-tab">
                        {% set lc_temporal_counter = 1 %}
                        {% for lc in source['lc'] %}
                            {% if lc['lc_type'] == 'temporal' %}
                                {% set lc_info = {'telescope': lc['telescope'],
                                                  'instrument': lc['instrument'],
                                                  'filter': lc['filter']} %}
                                <b>Light curve {{lc_temporal_counter}}:</b> {{ lc_info | safe }}
                            {% endif %}
                            {% set lc_temporal_counter = lc_temporal_counter + 1 %}
                        {% endfor %}
                        <div id="lc" style="width: 100%; height: 500px;"></div>

                        <div class="form-group row mt-3">
                            <label for="cone_search_radius" class="col-lg-2 control-label">
                                Folded light curve at
                            </label>

                            <div class="col-md-4 row">
                                <input type="text" class="form-control form-control-sm col-lg-6"
                                       id="fold_lc_period" name="fold_lc_period" placeholder="">
                                <select class="form-control form-control-sm col-lg-6"
                                        id="fold_lc_unit" name="fold_lc_unit">
                                    <option>Minutes</option>
                                    <option>Hours</option>
                                    <option>Days</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-dark btn-sm"
                                        id="fold_lc">Set</button>
                                <button type="button" class="btn btn-outline-dark btn-sm"
                                        id="reset_lc">Reset</button>
                            </div>
                        </div>

                        <hr>

                        <button type="button" class="btn btn-dark btn-sm"
                                        id="upload_lc">Upload Light Curve <i class='fas fa-plus-square'></i></button>

                        <p class="mt-2">
                            <span class="badge badge-primary">Note</span>
                            The uploaded light curve must be in the JSON format following the schema:<br>
                            <code>
                                {"telescope": "PO:1.2m",
                                 "instrument": "ZTF",
                                 "filter": "zr",
                                 "lc_type": "temporal",
                                 "data": [
                                    {"mjd": mjd, "mag": mag, "magerror": magerror},
                                 ]}
                            </code>
                        </p>

                        <hr>

                        <p>TODO: Cross-match with Gaia, PanSTARRS etc.</p>
                    </div>

                    <div class="tab-pane fade mt-2" id="nav-spectroscopy"
                         role="tabpanel" aria-labelledby="nav-spectroscopy-tab">
                        <p>No spectra found.</p>

                        <button type="button" class="btn btn-dark btn-sm"
                                        id="upload_spectrum">Upload Spectrum <i class='fas fa-plus-square'></i></button>

                        <p class="mt-2">
                            <span class="badge badge-info">Note</span>
                            The uploaded spectrum must be in the JSON format following the schema below:
                            <code>
                                {"telescope": "PO:1.2m",
                                 "instrument": "ZTF",
                                 "filter": "zr",
                                 "mjd": mjd,
                                 "data": [
                                    {"f": f, "val": val, "unit": unit},
                                 ]}
                            </code>
                        </p>
                    </div>

                    <div class="tab-pane fade mt-2" id="nav-finding-chart"
                         role="tabpanel" aria-labelledby="nav-finding-chart-tab">
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade mt-2" id="nav-visibility"
                         role="tabpanel" aria-labelledby="nav-visibility-tab">
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade mt-2" id="nav-auxiliary"
                         role="tabpanel" aria-labelledby="nav-auxiliary-tab">
                        <p>TODO: Detailed source info</p>
                        <p>TODO: Comments, notes</p>
                        <p>TODO: Classifications, periods, flags</p>
                        <br>
                        <button type="button" class="btn btn-danger btn-sm"
                                        id="remove_source">Remove source</button>
                    </div>
                </div>

            </main>
          </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-query-id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-query-id"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <pre><code id="modal-body-code" style="font-size:0.75em;"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Big int support for js -->
    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <!-- Julian dates -->
    <script src="{{-script_root-}}/static/js/julianDate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script>

        var layout = {yaxis: {autorange: 'reversed'},
                      showlegend: true,
                      {#automargin: true,#}
                      margin: {b: 30, t: 30, l: 50, r: 50, pad: 1}
        };

        {% set lc_temporal_counter = 1 %}
        {% for lc in source['lc'] %}
            {% if lc['lc_type'] == 'temporal' %}
                var data_{{-lc_temporal_counter-}} = [{
                    x: {{ lc['dt'] | safe }},
                    {#x: {{ lc['mjd'] }},#}
                    y: {{ lc['mag'] }},
                    {#error_y: {type: 'data', array: {{ lc['magerr'] }}, visible: false},#}
                    line: {shape: 'spline', width: 0.5},
                    mode: 'lines+markers',
                    name: 'LC_{{-lc_temporal_counter-}}'
                }];

                Plotly.plot('lc', data_{{-lc_temporal_counter-}}, layout);

                {% set lc_temporal_counter = lc_temporal_counter + 1 %}

            {% endif %}
        {% endfor %}

        {# init tooltips #}
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });


        {# actions #}
        {# download json as files #}
        function download(json, name, type) {
            var a = document.createElement("a");
            var file = new Blob([json], {type: type});
            var url = URL.createObjectURL(file);
            a.href = url;
            a.download = name;
            document.body.appendChild(a);
            a.click();
            setTimeout(function(){
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 100);
        }

        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
        {% if messages | length > 0 %}
            $(document).ready(function() {
                {% for message in messages %}
                    showFlashingMessage('Info:', '{{ message[0] }}', '{{ message[1] }}');
                {% endfor %}
            });
        {% endif %}
    </script>

{% endblock %}