{% extends "template.html" %}

{# custom css #}
{% block css %}
    <link rel="stylesheet" href="{{-script_root-}}/static/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{{-script_root-}}/static/css/sidebar.css">
{% endblock %}

{% block nav_sources %}
    active
{% endblock %}

{% block body_top %}
{#    <div class="container-fluid mt-2">#}
{#    </div>#}
{% endblock %}

{% block body %}

    <div class="container-fluid mt-2">

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav ml-2 mb-5 pb-5">

                    <!-- Quick search -->
                    <li class="sidebar-brand m-0 mt-3 p-0">
                        <a data-toggle="collapse" href="#quick_search_form"
                           aria-expanded="true" aria-controls="quick_search_form"
                           id="quick_search_form-dropdown"
                           style="margin-top: -0.1rem;">
                            Quick search
                            <i class="fa fa-lg fa-angle-up float-right"></i>
                        </a>
                    </li>

                    <div class="collapse multi-collapse show sidebar-collapse" id="quick_search_form">

                        <form id="simple_query_form" class="form mt-1 mb-1" method="get">

                            <div class="form-group">

                                <label for="quick_search__created_by" class="col control-label">
                                    created_by
                                </label>

                                <div class="col pr-4">
                                    <select class="form-control form-control-sm" id="quick_search__created_by"
                                            name="quick_search__created_by" data-id="created_by">
                                        <option></option>
                                        {% for u in users %}
                                            <option>{{ u }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="quick_search__zvm_program_id" class="col control-label">
                                    zvm_program_id
                                </label>

                                <div class="col pr-4">
                                    <select multiple size="3"
                                            class="form-control form-control-sm" id="quick_search__zvm_program_id"
                                            name="quick_search__zvm_program_id" data-id="zvm_program_id">
                                        {% for p in programs %}
                                            <option>{{ p }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>



                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm"
                                        id="submit_simple_query">Submit</button>
                            </div>

                        </form>
                    </div>
                    <!-- /quick search -->

                    <hr class="mr-3 mb-2">

                    <!-- Search -->
                    <li class="sidebar-brand m-0 mt-3 p-0">
                        <a data-toggle="collapse" href="#query"
                           aria-expanded="true" aria-controls="query"
                           id="query-dropdown"
                           style="margin-top: -0.1rem;">
                            Search saved sources
                            <i class="fa fa-lg fa-angle-up float-right"></i>
                        </a>
                    </li>

                    <div class="collapse multi-collapse show sidebar-collapse" id="query">

                        <form id="query_form" class="form mt-1 mb-2" method="post">

                            <div class="form-group">

                                <label for="radec" class="col control-label">
                                    RA/Dec, ICRS
                                </label>

                                <div class="col pr-4">
                                    <textarea class="form-control form-control-sm object_coordinates" id="radec" name="radec"
                                                      placeholder="Python-readable list of comma-separated object coordinates or dictionary:
[(HH:MM:SS, DD:MM:SS) or (HHhMMmSSs, DDdMMmSSs) or (deg, deg)]
Examples:
[(0.0, 0.0)]
[(0.0, 0.0), (1.0, 1.0)]
[('08:55:29.205', '-34:02:36.8944')]
{'object1': ('08h55m29.205s', '-34d02m36.8944s'), 'object2': ('06h55m29.205s', '32d02m36.1944s')}
Alternatively, for a single source, either two numbers [deg deg] or two strings [HH:MM:SS DD:MM:SS] or [HHhMMmSSs DDdMMmSSs]:
0.0 0.0
18:43:58.5333 -20:41:41.513
"
                                                      rows="4"></textarea>
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="cone_search_radius" class="col control-label">
                                    Cone search radius
                                </label>

                                <div class="col pr-4">
                                    <input type="text" class="form-control form-control-sm"
                                           id="cone_search_radius" name="cone_search_radius" placeholder="">
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="cone_search_unit" class="col control-label">
                                    Cone search units
                                </label>

                                <div class="col pr-4">
                                    <select class="form-control form-control-sm" id="cone_search_unit"
                                            name="cone_search_unit">
                                        <option>arcsec</option>
                                        <option>arcmin</option>
                                        <option>deg</option>
                                        <option>rad</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="filter" class="col control-label">
                                    Filter
                                </label>

                                <div class="col pr-4">
                                    <textarea class="form-control form-control-sm"
                                                      id="filter" name="filter"
                                                      placeholder="Filter in MongoDB syntax, see help"
                                                      rows="4"></textarea>
                                </div>

                            </div>

                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm"
                                        id="submit_query">Submit</button>
                            </div>

                        </form>
                    </div>
                    <!-- /search -->

                    <hr class="mr-3 mb-2">

                    <!-- Create source -->
                    <li class="sidebar-brand m-0 mt-3 p-0">
                        <a data-toggle="collapse" href="#create_blank"
                           aria-expanded="true" aria-controls="create_blank"
                           id="create_blank-dropdown"
                           style="margin-top: -0.1rem;">
                            Create blank source
                            <i class="fa fa-lg fa-angle-down float-right"></i>
                        </a>
                    </li>

                    <div class="collapse multi-collapse sidebar-collapse" id="create_blank">

                        <form id="blank_form" class="form mt-1 mb-2" method="post">

                            <div class="form-group">

                                <label for="blank_ra" class="col control-label">
                                    RA
                                </label>

                                <div class="col pr-4">
                                    <input type="text" class="form-control form-control-sm" id="blank_ra"
                                                   name="blank_ra"
                                                   placeholder="deg/HH:MM:SS/HHhMMmSSs">
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="blank_dec" class="col control-label">
                                    Dec
                                </label>

                                <div class="col pr-4">
                                    <input type="text" class="form-control form-control-sm" id="blank_dec"
                                                   name="blank_dec"
                                                   placeholder="deg/DD:MM:SS/DDdMMmSSs">
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="blank_zvm_program_id" class="col control-label">
                                    zvm_program_id
                                </label>

                                <div class="col pr-4">
                                    <select class="form-control form-control-sm" id="blank_zvm_program_id"
                                            name="blank_zvm_program_id">
                                        {% for p in programs %}
                                            <option>{{ p }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="col mt-2">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="blank_automerge" checked>
                                    <label class="custom-control-label" for="blank_automerge">Merge with all ZTF sources within 2"?</label>
                                </div>
                            </div>

                            <div class="col mt-2">
                                <button type="button" class="btn btn-dark btn-sm" id="submit_blank">Create</button>
                            </div>

                        </form>
                    </div>
                </ul>


            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <h4>
                        <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars p-1 py-2" aria-hidden="true"></i></a>
                        Saved sources
                    </h4>

                    {#    {% if data | length > 0 %}#}
                    <div id="toolbar" class="btn-group">
                        <button type="button" class="btn btn-outline-dark"
                                style="cursor: pointer;" onclick="toggle_expansion()"
                                data-toggle="tooltip" data-placement="top" title="Show/hide more">
                            <i id="expansion_toggle" class="fas fa-plus" aria-hidden="true"></i>
                        </button>

{#                        <button type="button" class="btn btn-outline-dark"#}
{#                                style="cursor: pointer;" onclick="toggle_invert_cutouts()"#}
{#                                data-toggle="tooltip" data-placement="top" title="Invert cutout colors">#}
{#                            <i id="expansion_toggle" class="fas fa-adjust" aria-hidden="true"></i>#}
{#                        </button>#}

                    </div>
                    <table id="table"
                           class="table table-hover table-condensed"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-pagination="true"
                           data-side-pagination="client"
                           data-minimum-count-columns="2"
                           data-page-size="20"
                           data-page-list="[20, 50, 100, All]"
                           data-search="true"
                           data-detail-view="true"
                           data-detail-formatter="detailFormatter"
                           data-show-columns="true"
                           data-show-multi-sort="true"
                           data-show-export="true"
                           data-export-types="['json', 'csv']"
                           data-export-options='{ "fileName": "ztf-vm-saved-sources",
                                                  "worksheetName": "ztf-vm-saved-sources1"
                                                 }'>
                    </table>
                    {#    {% endif %}#}

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

    </div>
    <!-- /container-fluid -->

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-query-id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-query-id"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <pre><code id="modal-body-code" style="font-size:0.75em;"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap table -->
    <script src="{{-script_root-}}/static/js/bootstrap-table.js"></script>
    <script src="{{-script_root-}}/static/js/bootstrap-table-en-US.js"></script>
    <script src="{{-script_root-}}/static/js/tableExport.js"></script>
    <script src="{{-script_root-}}/static/js/bootstrap-table-export.js"></script>
    <script src="{{-script_root-}}/static/js/FileSaver.min.js"></script>
    <script src="{{-script_root-}}/static/js/bootstrap-table-multiple-sort.js"></script>

    <!-- Big int support for js -->
    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <!-- Julian dates -->
    <script src="{{-script_root-}}/static/js/julianDate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script>
        $(document).ready(function() {
            // show on load:
            $("#wrapper").toggleClass("toggled");
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });

        // arrow up/down on show/hide
        $(document).ready(function() {
            $('.sidebar-collapse').on('hide.bs.collapse', function () {
                {#console.log(this.id);#}
                $("[id="+this.id+"-dropdown]").children("i").attr("class", "fa fa-lg fa-angle-down float-right");
            });
            $('.sidebar-collapse').on('show.bs.collapse', function () {
                $("[id="+this.id+"-dropdown]").children("i").attr("class", "fa fa-lg fa-angle-up float-right");
            });
        });

{#        {% if data | length > 0 %}#}
        // Fancy table stuff
        function getHeight() {
            var window_height = $(window).height();
            {#console.log(window_height);#}
            {#console.log(document.getElementById('table').getBoundingClientRect().top);#}
            if (window_height > 1200) {
                var top = document.getElementById('table').getBoundingClientRect().top;
                return Math.max(560, window_height - top - 20);
            }
            else {
                var top = document.getElementById('table').getBoundingClientRect().top;
                return Math.max(560, window_height - top - 20);
            }
        }

        var jd = new JulianDate();

        // build table using js
        $('#table').bootstrapTable({
            height: getHeight(),
            columns: [
                [
                    {% for field_id in ('_id', 'ra', 'dec',
                                        'p', 'zvm_program_id',
                                        'source_types', 'source_flags',
                                        'labels', 'spec', 'lc', 'created', 'created_by') %}
                    {
                        field: '{{field_id}}',
                        title: '{{field_id}}',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        {% if field_id in ('labels', 'lc', 'spec') %}
                        visible: false,
                        {% else %}
                        visible: true
                        {% endif %}
                    },
                    {% endfor %}
                ]
            ],
            data: [
                {% for entry in data %}
                    {
                        {% for field_id in ('_id', ) %}
{#                        {{ field_id }}: "<a href='/sources/{{entry[field_id]}}' target='_blank'>{{entry[field_id]}}</a>",#}
                        {{ field_id }}: "{{entry[field_id]}}",
                        {% endfor %}

                        {% for field_id in ('ra', 'dec',
                                        'p', 'zvm_program_id',
                                        'source_types', 'source_flags', 'created', 'created_by') %}
                        {{ field_id }}: "{{entry[field_id]}}",
                        {% endfor %}

                        {% for field_id in ('labels', 'lc', 'spec') %}
                        {{ field_id }}: "{{entry[field_id] | safe}}",
                        {% endfor %}
                    },

                {% endfor %}
            ]
        });

        // display details
        function detailFormatter(index, row, element) {
            var html = [];

            // Buttons:
            html.push("<div class=\"row p-0 m-0\">");

            html.push("<div class=\"col-2 p-0 m-0\">");
            // details:
            {#html.push("<br>");#}
            html.push("<a target='_blank' role='button' " + "href='/sources/" + row['_id'] +
                "' class='btn btn-sm btn-outline-dark mt-1 ml-1 mb-1 align-top'>Source page <i class='fas fa-external-link-alt'></i></a>");
            html.push("</div>");

            html.push("<div class=\"col-6 p-0 m-0\">");
            html.push("<img src='/sources/" + row['_id'] + "/images/lc?w=10&h=2.5' onerror=\"this.onerror=null; this.width='1px' this.src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='\" alt='' width='100%'>");
            html.push("</div>");

            {#html.push("<div class=\"col-2 p-0 m-0\">");#}
            {#html.push("<img src='/sources/" + row['_id'] + "/images/ps1' width='100%'>");#}
            {#html.push("</div>");#}

            // close buttons row
            html.push("</div>");

            return html.join('');
        }


        // reset height of table with search results
        function resetTableHeight() {
            var $table = $('#table');
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        }
        $(document).ready(function() {
            // on load
            if( $('#table').length ) {
                resetTableHeight();
            }
        });
        $(window).resize(function () {
            // on window resize
            if( $('#table').length ) {
                resetTableHeight();
            }
        });

        // on accordion collapse/show
        $('#queryTab').on('hidden.bs.collapse', function () {
          resetTableHeight();
        });
        $('#queryTab').on('shown.bs.collapse', function () {
          resetTableHeight();
        });

        {# table sorting #}
        function getOrder() {
            var $table = $('#table');
            return $table.bootstrapTable('getOptions').sortOrder === 'asc' ? -1 : 1;
        }

        function numberSorter(a, b) {
            a = $.trim(a.replace(/<\/?[^>]+(>|$)/g, ""));
            b = $.trim(b.replace(/<\/?[^>]+(>|$)/g, ""));
            if (!a || a === 'None') return -1 * getOrder();
            if (!b || b === 'None') return 1 * getOrder();
            if (parseFloat(a) < parseFloat(b)) return -1;
            if (parseFloat(a) > parseFloat(b)) return 1;
            return 0;
        }

        function stringSorter(a, b) {
            a = $.trim(a.replace(/<\/?[^>]+(>|$)/g, ""));
            b = $.trim(b.replace(/<\/?[^>]+(>|$)/g, ""));
            if (!a || a === 'None') return -1 * getOrder();
            if (!b || b === 'None') return 1 * getOrder();
            if (a < b) return -1;
            if (a > b) return 1;
            return 0;
        }

        {# expand all rows in table #}
        function toggle_expansion(){
            if ($("#expansion_toggle").hasClass('fa-plus')) {
                $('#table').bootstrapTable('expandAllRows', false);
            }
            else {
                $('#table').bootstrapTable('collapseAllRows', false);
            }
            $("#expansion_toggle").toggleClass('fa-plus fa-minus');
        }

        {# toggle cutout color invert #}
        function toggle_invert_cutouts(){
            $('.cutout').toggleClass('invert');
        }


        {# init tooltips #}
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });


        {# actions #}
        {# download json as files #}
        function download(json, name, type) {
            var a = document.createElement("a");
            var file = new Blob([json], {type: type});
            var url = URL.createObjectURL(file);
            a.href = url;
            a.download = name;
            document.body.appendChild(a);
            a.click();
            setTimeout(function(){
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 100);
        }

{#        {% endif %}#}

        function replaceAll(str, find, replace) {
            return str.replace(new RegExp(find, 'g'), replace);
        }

        // submit query
        $(document).ready(function() {
            $('#submit_query').click(function () {
                bootbox.confirm({
                    message: "Do you want to submit the query?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            $('#query_form').submit();
                        }
                    }
                });
            });
        });

        // submit simple query
        $(document).ready(function() {
            $('#submit_simple_query').click(function () {
                bootbox.confirm({
                    message: "Do you want to submit the simple query?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            let simple_query = {};
                            $('#simple_query_form *').filter(':input').each(function(){
                                {#console.log($(this).data("id"), $(this).val(), $(this).val().length);#}
                                let f_id = $(this).data("id");
                                let f_val = $(this).val();
                                if (f_val.length > 0) {
                                    if (f_id === "zvm_program_id") {
                                        simple_query[f_id] = {"$in": f_val.map(x => parseInt(x))};
                                    }
                                    else {
                                        simple_query[f_id] = f_val;
                                    }
                                }

                            });
                            {#console.log(simple_query);#}
                            $('#filter').val(JSON.stringify(simple_query));
                            $('#filter').val(replaceAll($('#filter').val(), "\"", "'"));
                            $('#query_form').submit();
                        }
                    }
                });
            });
        });

        // create blank new source
        $(document).ready(function() {
            $('#submit_blank').click(function () {
                bootbox.confirm({
                    message: "Do you want to create the source?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            let ra = $('#blank_ra').val();
                            let dec = $('#blank_dec').val();
                            let zvm_program_id = $('#blank_zvm_program_id').val();
                            let automerge = $("#blank_automerge").is(':checked');
                            {#console.log(ra, dec, zvm_program_id, automerge);#}
                            $.ajax({url: '{{-script_root-}}/sources',
                                method: 'PUT',
                                data: JSON.stringify({'ra': ra, 'dec': dec, 'zvm_program_id': zvm_program_id, 'automerge': automerge, 'return_result': false}),
                                processData: false,
                                contentType: 'application/json',
                                success: function(data) {
                                    console.log(data);
                                    if (data['message'] === 'success') {
                                        showFlashingMessage('Info:', 'Successfully saved source: ' + data['message'], 'success');
                                        setTimeout(window.location.href = '{{-script_root-}}/sources', 1000);
                                    }
                                    else {
                                        showFlashingMessage('Info:', 'Failed to save source: ' + data['message'], 'danger');
                                    }
                                },
                                error: function(data) {
                                    console.log('peechalj');
                                    showFlashingMessage('Info:', 'Failed to save source', 'danger');
                                }
                            });
                        }
                    }
                });
            });
        });

        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
        {% if messages | length > 0 %}
            $(document).ready(function() {
                {% for message in messages %}
                    showFlashingMessage('Info:', '{{ message[0] }}', '{{ message[1] }}');
                {% endfor %}
            });
        {% endif %}
    </script>

    {# populate form from previous request #}
    {% if form | length > 0 %}
    <script>
        $(document).ready(function() {
            {%-for key in form-%}
                {%-if form[key] == 'on'-%}
                    $('#{{-key-}}').prop('checked', true);
                {%-else-%}
                    $('#{{-key-}}').val("{{-form[key]|safe-}}");
                {%-endif-%}
            {%-endfor-%}
        })
    </script>
    {% endif %}

{% endblock %}
