{% extends "template.html" %}

{# custom css #}
{% block css %}
    <link rel="stylesheet" href="{{-script_root-}}/static/css/styles/default.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/jquery.json-viewer.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/sidebar.css">
{% endblock %}

{% block nav_sources %}
    active
{% endblock %}

{% block body_top %}
{#    <div class="container mt-2">#}
{#        YO#}
{#    </div>#}
{% endblock %}

{% block body %}

    <div class="container-fluid mt-2">

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav ml-2">

                    <!-- Load -->
                    <li class="sidebar-brand m-0 mt-3 p-0">
                        <a data-toggle="collapse" href="#load_data_form"
                           aria-expanded="true" aria-controls="load_data_form"
                           id="load_data_form-dropdown"
                           style="margin-top: -0.1rem;">
                            Load data
                            <i class="fa fa-lg fa-angle-up float-right"></i>
                        </a>
                    </li>

                    <div class="collapse multi-collapse show sidebar-collapse" id="load_data_form">
    {#                        <li id="-menu-item">#}
    {#                        </li>#}
                        <form id="form" class="form mb-2" method="get">

                            <div class="form-group">

                                <label for="zvm_program_id" class="col control-label">
                                    zvm_program_id
                                </label>

                                <div class="col pr-4">
                                    <select class="form-control form-control-sm" id="zvm_program_id"
                                            name="zvm_program_id">
                                        {% for program in programs %}
                                        <option>{{program}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <label for="number" class="col control-label">
                                    Number of sources to load
                                </label>

                                <div class="col pr-4">
                                    <select class="form-control form-control-sm" id="number"
                                            name="number">
                                        <option>10</option>
                                        <option>100</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox"
                                                   id="random" name="random">
                                            Random
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <button type="button" class="btn btn-dark btn-sm" id="form-submit">Submit</button>
                            </div>

                        </form>
                    </div>

                    <hr class="mr-3 mb-2">

                    <!-- Save -->
                    <li class="sidebar-brand m-0 mt-3 p-0">
                        <a data-toggle="collapse" href="#save_labels"
                           aria-expanded="true" aria-controls="save_labels"
                           id="save_labels-dropdown"
                           style="margin-top: -0.1rem;">
                            Save labels
                            <i class="fa fa-lg fa-angle-up float-right"></i>
                        </a>
                    </li>

                    <div class="collapse multi-collapse show sidebar-collapse" id="save_labels">
    {#                        <li id="-menu-item">#}
    {#                        </li>#}
                        <div class="col mt-2">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="autosave" checked>
                                <label class="custom-control-label" for="autosave">Autosave?</label>
                            </div>
                        </div>
                        <div class="col mt-2">
                            <form id="form_save" class="form mb-2" method="get">
                                <button type="button" class="btn btn-dark btn-sm" id="form_save-submit">Save</button>
                            </form>
                        </div>
                    </div>
                </ul>


            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <h4>
                        <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars p-1 py-2" aria-hidden="true"></i></a>
                        Label data
                    </h4>

                    {% for source in data %}
                    <div class="row mt-2">
                        <div class="col">
                            <a href="/sources/{{-source['_id']-}}" target="_blank">{{ source['_id'] }}</a><br>
                        </div>
                    </div>

                    <div class="row mt-0">
                        <!-- Light curves -->
                        <div class="col-7">
                            <img src="/sources/{{-source['_id']-}}/images/lc?w=10&h=3" width="100%" class="img-fluid">
                            {% if source['p'] | length > 0 %}
                                {% set p = source['p'][0]['period'] %}
                                {% set u = source['p'][0]['period_unit'] %}
                                <img src="/sources/{{-source['_id']-}}/images/lc?w=10&h=3&p={{-p-}}&u={{-u-}}&t=true"
                                     width="100%" class="img-fluid">
                            {% endif %}
                        </div>
                        <!-- Cutout and HR diagram -->
                        <div class="col-2">
                            <img src="/sources/{{-source['_id']-}}/images/ps1" class="img-fluid mx-auto d-block mt-4 pl-2">
                            <img src="/sources/{{-source['_id']-}}/images/hr" class="img-fluid mx-auto d-block mt-4">
                        </div>
                        <!-- Metadata -->
                        <div class="col-3">
                            <pre class="json-renderer pl-4 pr-4" style="font-size: 0.6em"
                                 id="{{-source['_id']-}}-json-renderer"></pre>
                        </div>
                    </div>

                    <!-- Classifications -->
                    <div class="row mt-0">
                        <div class="col p-3" style="background: #f7f8f9; font-size: 0.8em">
                            <h6>
                                <a data-toggle="collapse" href="#{{ source['_id'] }}_intrinsic"
                                   aria-expanded="true" aria-controls="{{ source['_id'] }}_intrinsic"
                                   id="{{ source['_id'] }}_intrinsic-dropdown"
                                   style="margin-top: -0.1rem;">
                                    Phenomenological classifications
                                    <i class="fa fa-lg fa-angle-up float-right"></i>
                                </a>
                            </h6>

                            <div class="row collapse multi-collapse show sidebar-collapse"
                                 id="{{ source['_id'] }}_intrinsic">

                                {% for class in classes['phenomenological'] %}
                                <div class="col mt-2">
                                    <label for="{{ source['_id'] }}_{{ class }}">
                                        {{ class }}
                                    </label>
                                    <input type="range" class="custom-range"
                                           value="0" min="0" max="1" step="0.25" id="{{ source['_id'] }}_{{ class }}">
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <hr>
                    {% endfor %}

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-query-id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-query-id"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <pre><code id="modal-body-code" style="font-size:0.75em;"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <!-- Big int support for js -->
    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <!-- Julian dates -->
    <script src="{{-script_root-}}/static/js/julianDate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Highlight code-->
    <script src="{{-script_root-}}/static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{{-script_root-}}/static/js/jquery.json-viewer.js"></script>

    <script>
        // populate query params into form
        const url_params = new URLSearchParams(window.location.search);
        const zvm_program_id = url_params.get('zvm_program_id');
        const number = url_params.get('number');
        const random = url_params.get('random');

        if (zvm_program_id) {
            $('#zvm_program_id').val(zvm_program_id)
        }
        if (number) {
            $('#number').val(number)
        }
        if (random) {
            $("#random").prop("checked", true);
        }

        $(document).ready(function() {
            // show on load:
            $("#wrapper").toggleClass("toggled");
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });

        // arrow up/down on show/hide
        $(document).ready(function() {
            let block = 'load_data_form';
            $('.sidebar-collapse').on('hide.bs.collapse', function () {
                {#console.log(this.id);#}
                $("[id="+this.id+"-dropdown]").children("i").attr("class", "fa fa-lg fa-angle-down float-right");
            });
            $('.sidebar-collapse').on('show.bs.collapse', function () {
                $("[id="+this.id+"-dropdown]").children("i").attr("class", "fa fa-lg fa-angle-up float-right");
            });
        });

        // display JSON
        {% for source in data %}
        {% set ss = {'l': source['l'] | round(3, 'common'),
                     'b': source['b'] | round(3, 'common'),
                     'ra': source['ra'] | round(3, 'common'),
                     'dec': source['dec'] | round(3, 'common'),
                     'xmatch': source['xmatch']} %}
        let data_alert_{{-source["_id"]-}} = JSONbig.parse('{{-ss|tojson_pretty|safe|replace('\n', '')|replace('NaN', 'null')-}}');
        $('#{{-source["_id"]-}}-json-renderer').jsonViewer(data_alert_{{-source["_id"]-}}, {collapsed: true, withQuotes: true});
        // open
        $('#{{-source["_id"]-}}-json-renderer').find(">:first-child").trigger("click");
        {% endfor %}
    </script>

    <script>

        // submit query
        $(document).ready(function() {
            $('#form-submit').click(function () {
                bootbox.confirm({
                    message: "Do you want to load the data?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            $('#form').submit();
                            {#console.log($('#form'));#}
                        }
                    }
                });
            });
        });

        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
        {% if messages | length > 0 %}
            $(document).ready(function() {
                {% for message in messages %}
                    showFlashingMessage('Info:', '{{ message[0] }}', '{{ message[1] }}');
                {% endfor %}
            });
        {% endif %}
    </script>

{% endblock %}